   streamlit==1.44.1
   google-generativeai
   python-docx
   markdown2
   fake-useragent
   beautifulsoup4==4.12.3
   requests==2.32.0
   tenacity
   googlesearch-python
   pyppeteer
   pillow
   cairosvg
   pygments
   markdown
   duckduckpy
   openpyxl
   PyPDF2
   python-pptx
   pandas
   matplotlib
   

